<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Hello, world!</title>
</head>
<body>


<div class="container" id="app">
    {{ message }}

    <p>Hola soy {{user.name}} y mi email es {{user.email}}</p>
    <a :href="link">Ir a google</a>

    <form action="">
        <label for="">Email</label>
        <input type="email" class="form-control" v-model="user.email">

        <label for="">Name</label>
        <input type="text" class="form-control" v-model="user.name">
        <input type="checkbox" @click="enableUser"> ¿Activar usuario?
    </form>
    <!--
    <ul>
        <li v-for="item of items">{{item}}</li>
    </ul>-->
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script>
    var app = new Vue({
        el: '#app',
        data: function (){
            return {
                link: 'www.google.com',
                message: 'Hello JS!',
                items: [
                    'tarea 1',
                    'Tarea 2',
                    'tarea 3',
                    'Tarea 4',
                    'Tarea 5'
                ],
                user: {
                    name : 'leonardo',
                    email: 'leonardo@dimabe.cl',
                    isActive: false
                },
                tasks:[
                    {id: 1 , title: 'tarea 10'},
                    {id: 2 , title: 'tarea 11'}
                ]
            }
        },
        computed: {

        },
        methods: {
            enableUser: function(){
                this.isActive = true;
            }
        }
    })
</script>
</body>
</html>