<template>
    <panel-component title="Mis tickets" :footer="true">
        <template slot="body">

            <input type="text" v-model="filter.title" @keyup.enter="index" class="form-control">

            <button class="btn btn-primary" @click.prevent="index">Buscar</button>

            <table class="table">
                <thead>
                <tr>
                    <th>Titulo</th>
                    <th>Fecha de creación</th>
                    <th>Días Transcurridos</th>
                    <th>Estado</th>
                    <th>Autor</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="ticket in tickets" :key="ticket.id">
                    <td>{{ ticket.title }}</td>
                    <td>{{ ticket.created_at }}</td>
                    <td>{{ ticket.time }}</td>
                    <td>
                        <span class="label label-danger" v-if="ticket.time > 10">Retrasado</span>
                        <span class="label label-success" v-else>A tiempo</span>
                    </td>
                    <td>{{ ticket.author ? ticket.author.email : '' }}</td>
                    <td>
                        <a :href="ticket.edit_url" class="btn btn-primary">Editar</a>
                    </td>
                </tr>
                </tbody>

            </table>
        </template>
        <pagination slot="footer"
                    :meta="meta"
                    @changepage="index"></pagination>
    </panel-component>
</template>

<script>
    import Pagination from './Pagination.vue';
    import Ticket from '../models/Tickets'
    export default {
        components: {Pagination},
        data() {
            return {
                filter: {
                    title: ''
                },
                tickets : [],
                meta: {}
            }
        },
        created(){
            this.index();
        },
        methods : {
            index(page = 1) {

                let params = {
                    page: page,
                    title: this.filter.title
                }

                Ticket.fetch(params, res => {
                    this.tickets = res.data;
                    this.meta = res.meta;
                })

                /*axios.get('/api/v1/tickets', {
                    params: {
                        page: page
                    }
                }).then(res => {
                    this.tickets = res.data.data;
                    this.meta = res.data.meta;
                }).catch(error => {
                    console.error(error)
                })*/
            }
        }

    }
</script>