<template>
    <nav aria-label="Page navigation">
        <ul class="pagination">
            <li v-if="meta.current_page > 1">
                <a href="#" @click.prevent="changePage(prevPage)" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li :class="{active: page == meta.current_page}" v-for="page in meta.last_page" :key="page"><a @click.prevent="changePage(page)" href="">{{ page }}</a></li>
            <li v-if="meta.current_page < meta.last_page">
                <a href="#" @click.prevent="changePage(nextPage)" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</template>


<script>
    export default{
        methods: {
          changePage(page) {
              this.$emit('changepage', page);
          }
        },
        computed: {
          nextPage(){
              return this.meta.current_page +1;
          },
        prevPage(){
            return this.meta.current_page -1;
        }

        },
        props: ['meta']
    }
</script>