<template>
    <div class="panel panel-default">
        <div class="panel-heading">{{ title }}</div>
        <div class="panel-body">
            <slot name="body"></slot>
        </div>
        <div class="panel-footer" v-if="footer">
            <slot name="footer"></slot>
        </div>
    </div>
</template>

<script>
    export default {
        props : ['title', 'footer']
    }
</script>